.vscode/**
.vscode-test/**
.test-extensions/**
.github/**
node_modules/**
out/**
src/**
webview-ui/**
tests/**
test-backup/**
vscode-extension-tester-example/**
vscode-extension-tester.wiki/**
temp-ignore/**
.gitignore
vsc-exdtension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webpack.config*
python_test
example-plugin
.yarn/**/*
*.code-workspace
vscode-ext-config.json
eslint*
.yarnrc.yml
icons/**
.mocharc.js
.prettierrc
.node-version
.actrc