.svifpd-radio-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.svifpd-radio-button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.svifpd-radio-button:hover {
  background-color: lightgray;
}

.svifpd-radio-button.selected {
  background-color: var(--vscode-button-background);
  color: white;
}
